// Break Point
$tablet: 880px;
$laptop: 1140px;
$desktop: 1440px;

// Mixins
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin over_desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
